<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBrhJMI6sHbelRaAdHaQc6GgDOOWoCSqRM</string>
	<key>SPEED_CAMERA_API_KEY</key>
	<string>329a6edfe2f7439f9dd57dcf69c6d872</string>
	<key>GCM_SENDER_ID</key>
	<string>193879746182</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.speedsense.app</string>
	<key>PROJECT_ID</key>
	<string>speedsense-4ac95</string>
	<key>STORAGE_BUCKET</key>
	<string>speedsense-4ac95.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:193879746182:ios:df70015e9ef0986586d307</string>
</dict>
</plist>